<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="geektime.im.lecture.dao.ImUserMapper">
  <resultMap id="BaseResultMap" type="geektime.im.lecture.entity.ImUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
  </resultMap>

  <select id="findByEmail" resultType="geektime.im.lecture.entity.ImUser">
    select *
    from im_user
    where email=#{email,jdbcType=VARCHAR}
  </select>
  <select id="findUsersByUidIsNot" resultType="geektime.im.lecture.entity.ImUser">
    select *
    from im_user
    where uid!=#{uid,jdbcType=INTEGER}
  </select>
  <select id="findByUid" resultType="geektime.im.lecture.entity.ImUser">
    select *
    from im_user
    where uid=#{uid,jdbcType=INTEGER}
  </select>
</mapper>